<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    b4

    <title>hello world</title>
</head>
<body>
    <h1>hello world2</h1>

    <form action="{{ url_for('handle_data') }}" method="post">
        <input type="text" name="projectFilepath">
        <input type="submit">
    </form>
</body>
</html>